<div class="graph-users">
  <h1>Total ammount of users and classes</h1>
  <ngx-charts-bar-vertical
    [results]="usersNumber"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [view]="[600, 400]"
    [barPadding]="200"
    yAxisLabel="Total"
  >
  </ngx-charts-bar-vertical>
</div>
<div class="graph-classes-published">
  <h1>Number of classes published by students</h1>
  <ngx-charts-pie-chart
    [view]="[700, 400]"
    [results]="pieChartData"
    [doughnut]="false"
    [explodeSlices]="false"
    [labels]="true"
    [legend]="true"
    [legendPosition]="'right'"
  ></ngx-charts-pie-chart>
</div>