<div  class="welcome-container" >
  <h1>Available Classroom Summaries</h1>

  <div *ngIf="!isNewClass">
    <div class="buttons-container">
      <button (click)="isTextClass()" class="type-of-class">Text</button>
      <button (click)="isFilesClass()" class="type-of-class">Files</button>
      <button (click)="isImagesClass()">Images</button>
    </div>
  </div>
  <button (click)="addNewClass()">Add New Class</button>
  <div  class="classroom-container" *ngIf="isNewClass">
    <h2>Select the type of class that you would like to add</h2>
    <form action="">
      <div class="container-center">
        <div class="new-class-choice">
          <input type="radio" name="typeOfClass" value="image" (click)="chooseTypeOfClass('image')"><label for="html" class="classroom-label">Image</label>
        </div>
        <div class="new-class-choice">
          <input type="radio" name="typeOfClass" value="file" (click)="chooseTypeOfClass('file')"><label for="html" class="classroom-label">File</label>
        </div>
        <div class="new-class-choice">
          <input type="radio" name="typeOfClass" value="text" (click)="chooseTypeOfClass('text')"> <label for="html" class="classroom-label">Text</label>
        </div>
      </div>
    </form>

    <div [ngSwitch]="typeOfClass">
      <div *ngSwitchCase="'image'">
        <label class="radio-button-option">
          <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Click to add an image
          </label>
          <input id="file-upload" name="image" type="file" (change)="handleImageInput($event)"/>
        </label>
        {{nameOfImage}}
        <button (click)="submitImage()">Submit</button>
        <button (click)="addNewClass()">Go back to classes</button>
      </div>
      <div *ngSwitchCase="'file'">
        <label class="radio-button-option">
          <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Click to add a file
          </label>
          {{nameOfFile}}
          <input  id="file-upload" type="file" name="submitFile" (change)="handleFileInput($event)"/>
        </label>
        <button (click)="submitFile()">Submit</button>
        <button (click)="addNewClass()">Go back to classes</button>
      </div>
      <div *ngSwitchCase="'text'">
        <form [formGroup]="formAddClass">
          <input type="text" formControlName="title" placeholder="Add your class title here" formControlName="nameClass">
          <textarea placeholder="Add your class notes here" rows="4" cols="50" formControlName="textClass"></textarea>
          <button (click)="submitText()">Submit</button>
          <button (click)="addNewClass()">Go back to classes</button>
        </form>
      </div>
    </div>
    </div>

<div *ngIf="isText">
  <h1>Text Classes</h1>
  <div *ngFor="let class of allClasses$ | async; let i = index">
    <h3>Class Number #{{i}}</h3>
    <ol>
      <ul>
        <li>Title: {{class.title}}</li>
        <li>Summary: {{class.text}}</li>
      </ul>
    </ol>
    <hr>
  </div>
</div>

<div *ngIf="isFiles">
  <h1>Files</h1>
  <div *ngFor="let file of allFiles$">
    <ul>
      <li><a href="https://deutscher-runder-tisch.s3.eu-west-3.amazonaws.com/{{file.Key}}" target="_new">{{file.Key}}</a></li>
    </ul>
  </div>
</div>

  <div *ngIf="isImages">
    <h1>Images</h1>

    <div *ngFor="let image of allImages$ | async">
      <img width="300px" height="300px" src="{{image.image}}" alt="Red dot" />
    </div>
  </div>

</div>
