<div  class="welcome-container" >
  <h1>{{bringName}}'s Classroom</h1>
  <hr>
  <div *ngIf="loading$ | async" class="spinner-container">
    <mat-spinner color="warn"></mat-spinner>
  </div>

  <div *ngFor="let class of allClasses$ | async; let i = index">
    <h3>Class Number #{{i}}</h3>
    <ol>
      <ul>
        <li>Title: {{class.title}}</li>
        <li>Summary: {{class.text}}</li>
        <li *ngIf="class.file">File: <a href="{{class.file}}">{{class.file}}</a></li>
        <img width="100%" height="250px" *ngIf="class.image" src="{{class.image}}" alt="Red dot" class="img-flex-thumb" (click)="debugBase64(class.image)"/>
        <li>Author: {{class.author}}</li>
      </ul>
    </ol>
    <hr>
  </div>

</div>
