.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 15px;
}

.new-class-choice {
  display: flex;
  float: left;
  padding: 5%;
}

.classroom-container {
  text-align: center;
}

.container-center {
  display: flex;
  justify-content: center;
}

.classroom-label {
  margin-left: 25%;
}

ul {
  text-align: left;
}

.buttons-container {
  display: flex;
}

.type-of-class {
  margin-right: 2%;
}

.img-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-flex-thumb {
  padding: 5%;
}

.spinner-container {
  width: 100%;
  display: grid;
  justify-content: center;
}

#dialog-modal {
  max-width: 100%;
  max-height: 1500px;
}

.example-header-image {
  background-image: url("../../images/avatar.jpeg");
  background-size: cover;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  width: 100%;
}

.card-material-center {
  margin: auto !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-header,
#youtube-container {
  text-align: center;
}

.bi-pencil-square {
  position: absolute;
  right: 8%;
  cursor: pointer;
}

.bi-trash3 {
  position: absolute;
  right: 3%;
  cursor: pointer;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
#mat-paginator-index {
  height: 10rem;
}
