.dialog-delete-confirmation {
  padding: 5%;
  text-align: center;
}

.delete-button-row {
  display: flex;
}

.delete-buttons {
  padding: 3%;
  margin: 5%;
}
//class.title, class.text, class.image, class.file
