<!--<div  class="classroom-container">-->
<!--  <h2>Select the type of class that you would like to add</h2>-->
<!--  <form action="">-->
<!--    <div class="container-center">-->
<!--      <div class="new-class-choice">-->
<!--        <input type="radio" name="typeOfClass" value="text" (click)="chooseTypeOfClass('text')"> <label for="html" class="classroom-label">Text</label>-->
<!--      </div>-->
<!--      <div class="new-class-choice">-->
<!--        <input type="radio" name="typeOfClass" value="file" (click)="chooseTypeOfClass('file')"><label for="html" class="classroom-label">Files</label>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->

<!--  <div [ngSwitch]="typeOfClass">-->

<!--    <div *ngSwitchCase="'text'">-->
<!--      <small><i>Both text and image fields are required</i></small>-->
<!--      <form [formGroup]="formAddClass">-->
<!--        <input type="text" formControlName="title" placeholder="Add your class title here" formControlName="nameClass">-->
<!--        <textarea placeholder="Add your class notes here" rows="4" cols="50" formControlName="textClass"></textarea>-->

<!--        <label class="radio-button-option">-->
<!--          <label for="file-upload" class="custom-file-upload">-->
<!--            <i class="fa fa-cloud-upload"></i> Click to add an image-->
<!--          </label>-->
<!--          <input id="file-upload" name="image" type="file" (change)="handleImageInput($event)" formControlName="imageClass" accept="image/*"/>-->
<!--        </label>-->
<!--        {{nameOfImage}}-->
<!--        <button (click)="submitText()">Submit</button>-->
<!--      </form>-->
<!--    </div>-->

<!--    <div *ngSwitchCase="'file'">-->
<!--      <small><i>PDF, Excel and PowerPoint files only</i></small>-->
<!--      <p></p>-->
<!--      <label class="radio-button-option">-->
<!--        <label for="file-upload" class="custom-file-upload">-->
<!--          <i class="fa fa-cloud-upload"></i> Click to add a file-->
<!--        </label>-->
<!--        {{nameOfFile}}-->
<!--        <input  id="file-upload" type="file" name="submitFile" (change)="handleFileInput($event)" accept=".ppt, .pptx, .pdf, .xlsx"/>-->
<!--      </label>-->
<!--      <button (click)="submitFile()">Submit</button>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->


<div  class="classroom-container">
  <h2>Add a new German class</h2>

   <form [formGroup]="formAddClass">
        <input type="text" formControlName="title" placeholder="Add your class title here" formControlName="nameClass">
        <textarea placeholder="Add your class notes here" rows="4" cols="50" formControlName="textClass"></textarea>

<!--        <label class="radio-button-option">
          <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Click to add an image
          </label>
          <input id="file-upload" name="image" type="file" (change)="handleImageInput($event)" formControlName="imageClass" accept="image/*"/>
        </label>
        {{nameOfImage}}-->
       <input id="image-upload" name="image" type="file" (change)="handleImageInput($event)" formControlName="imageClass" accept="image/*" value="hi"/>

      </form>

<!--      <p></p>
      <label class="radio-button-option">
        <label for="file-upload" class="custom-file-upload">
          <i class="fa fa-cloud-upload"></i> Click to add a file <i>(PDF, Excel and PowerPoint files only)</i>
        </label>
        {{nameOfFile}}
        <input  type="file" name="submitFile" (change)="handleFileInput($event)" accept=".ppt, .pptx, .pdf, .xlsx"/>
      </label>
      <button (click)="submitGermanClass()">Submit</button>-->
    <input id="file-upload" type="file" name="submitFile" (change)="handleFileInput($event)" accept=".ppt, .pptx, .pdf, .xlsx"/>
  <button (click)="submitGermanClass()">Submit</button>
    </div>

