classroom-container-add-class {
  width: 50%;
}

input[type=file]{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  padding: 2%;
}

input[type=file]::file-selector-button {
  display: none;
}

#image-upload::before {
  content: " Click here to add an image - ";
}

#file-upload::before {
  content: " Click here to add a file (PDF, Excel or PowerPoint) - ";
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 15px;
}

.new-class-choice {
  display: flex;
  float: left;
  padding: 5%;
}

.classroom-container {
  text-align: center;
}

.container-center {
  display: flex;
  justify-content: center;
}

.classroom-label {
  margin-left: 25%;
}

ul {
  text-align: left;
}

.buttons-container {
  display: flex;
}

.type-of-class {
  margin-right: 2%;
}

.img-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.img-flex-thumb {
  padding: 5%;
}

quill-editor {
  width: 100%;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
