<nav>
  <div class="nav-container">
    <div class="first-box">
      <ul id="list-of-links">
        <li routerLink="">
          <img src="../../../../../assets/BRING_apostrophe_wht_rev_rgb.png" alt="" class="logo-bring">
        </li>
        <li id="container-hamburger" >
          <div (click)="isMenu()" >
            <div class="hamburguer-menu"></div>
            <div class="hamburguer-menu"></div>
            <div class="hamburguer-menu"></div>
          </div>
        </li>
        <a routerLink="">
          <li class="li-hover">Home</li>
        </a>
        <a routerLink="classroom" *ngIf="isLogged">
          <li class="li-hover">Classroom</li>
        </a>
        <a routerLink="login" *ngIf="!isLogged">
          <li class="li-hover">Login</li>
        </a>
        <a routerLink="sign-up" *ngIf="!isLogged">
          <li class="li-hover">Sign Up</li>
        </a>
        <a *ngIf="isLogged" class="add-new-class">
          <li (click)="openDialog('0ms', '0ms')" id="add-class-button">Add New Class</li>
        </a>
        <a routerLink="" (click)="logout()" *ngIf="isLogged">
          <li class="li-hover">Logout</li>
        </a>
      </ul>

    </div>
  </div>
</nav>
<div class="menu-list-items-nav" *ngIf="isMenuBoolean">
    <a routerLink="">
      <li >Home</li>
    </a>
    <a routerLink="classroom" *ngIf="isLogged">
      <li class="li-hover">Classroom</li>
    </a>
    <a routerLink="login" *ngIf="!isLogged">
      <li class="li-hover">Login</li>
    </a>
    <a routerLink="sign-up" *ngIf="!isLogged">
      <li class="li-hover">Sign Up</li>
    </a>
    <a *ngIf="isLogged" class="add-new-class">
      <li (click)="openDialog('0ms', '0ms')">Add New Class</li>
    </a>
    <a routerLink="" (click)="logout()" *ngIf="isLogged">
      <li class="li-hover">Logout</li>
    </a>
</div>
<div class="router-outlet-container">
  <router-outlet></router-outlet>
</div>
