/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html, body, ul, li {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Righteous', cursive;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.welcome-container {
  width: 70%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

input, textarea {
  width: 100%;
  border-radius: 15px;
  padding: 2% 2%;
  margin: 2% 0;
}

button {
  width: 100%;
  border-radius: 15px;
  background-color: #be1e2d;
  color: white;
  border: 0;
  padding: 2% 0;
  margin-top: 2%;
  cursor: pointer;
}

button:hover {
  background-color: darkgrey;
}

@media (max-width: 600px) {
  .welcome-container {
    width: 90%;
  }
}
